 <div class=container>


  <div class=table>

    <% boxes = Game.find(session[:game_id]).boxes.order(:id) %>
    <!-- <% puts boxes[2].player_id %> -->

    <% for i in 0..2 %>

    <div class=row>
      <% for j in 1..3 %>
        <% box_id = i*3 + j %>
        <div class=col id=<%= box_id %>>
          <% case boxes[box_id-1].player_id
          when 1 %>
            <img src='/images/chicken.png' WIDTH=65>
          <% when 2 %>
            <img src='/images/drumstick.png' WIDTH=65>
          <% end %>
        </div>
      <% end %>
    </div>

    <% end %>

  </div>


  </ br>
  </ br>

  <p>Player 1: <%= Game.find(session[:game_id]).users[0].email %> <img src='/images/chicken.png' WIDTH=65></p>
  <p>Player 2: <%= Game.find(session[:game_id]).users[1].email %> <img src='/images/drumstick.png' WIDTH=65></p>

  <% val=1 if session[:user].email == Game.find(session[:game_id]).users[0].email %>
  <% val=2 if session[:user].email == Game.find(session[:game_id]).users[1].email %>
<<<<<<< HEAD
  <input type=hidden id=player_id value=<%=val%> />
  <input type=hidden id=my_turn value=<%= UserGame.where(game_id: session[:game_id], user_id: session[:user].id)[0].my_turn %> />

=======
  <input type=hidden id=player_id value=<%=val%>>
  <input type=hidden id=my_turn value=<%= session[:user_game].my_turn %>>
>>>>>>> 4de01cb10cbd209f33d547c0a9a7eaabdc2e12b7
 </div>


 <div id="cover">
  <h1>Let's wait for the other guy</h1>
 </div>

<script>

  $(document).ready(function() {
<<<<<<< HEAD

=======
>>>>>>> 4de01cb10cbd209f33d547c0a9a7eaabdc2e12b7
    var disabled_interval;

    if ($("#my_turn").val() == "false") {
      $("#cover").css("visibility","visible");
<<<<<<< HEAD
      disabled_interval = setInterval(function(){
        $.ajax({
          type: "GET",
          url: "/check_turn",
          data: {  }
        })
          .done(function( msg ) {
            if ( msg != "") {
              clearInterval(disabled_interval);
              $("body").html(msg);
            }
          }); // $.ajax({
        }, 1000); // disabled_interval = setInterval(function(){
=======
        disabled_interval = setInterval(function(){
          $.ajax({
            type: "GET",
            url: "/check_turn",
            data: {  }
          })
            .done(function( msg ) {
              if ( msg != "") {
                // alert(msg);
                clearInterval(disabled_interval);
                $(body).html(msg);
              }
            }); // $.ajax({
          }, 1000); // disabled_interval = setInterval(function(){
>>>>>>> 4de01cb10cbd209f33d547c0a9a7eaabdc2e12b7
    } else {
      $("#cover").css("visibility","hidden");
    }


    if ($("#player_id").val() == "1") {
      image_src ="chicken";
    } else {
      image_src = "drumstick";
    }

<<<<<<< HEAD

    $(".col").on("click",function(e) {
      this.innerHTML = "<img src='/images/" + image_src + ".png' WIDTH=65>";
      $("#cover").css("visibility","visible");
      $("#my_turn").attr("value","false");
=======
    $(".col").on("click",function(e) {
      this.innerHTML = "<img src='/images/" + image_src + ".png' WIDTH=65>";
      $("#cover").css("visibility","visible");
>>>>>>> 4de01cb10cbd209f33d547c0a9a7eaabdc2e12b7
      $(this).parent().parent().children().addClass("inactive");

      $.ajax({
        type: "GET",
        url: "/new_move",
        data: {"box_id": e.target.id, "player_id": $("#player_id").val()}
      })
      .done(function(msg) {
        setTimeout(function() {
          disabled_interval = setInterval(function(){
          $.ajax({
            type: "GET",
            url: "/check_turn",
            data: {  }
          })
            .done(function( msg ) {
              if ( msg != "") {
<<<<<<< HEAD
                clearInterval(disabled_interval);
                $("body").html(msg);
=======
                // alert(msg);
                clearInterval(disabled_interval);
                $(body).html(msg);
>>>>>>> 4de01cb10cbd209f33d547c0a9a7eaabdc2e12b7
              }
            }); // $.ajax({
          }, 1000) // disabled_interval = setInterval(function(){
        },3000); // setTimeout(function() {
      }); // $.ajax({
    }); // $(".col").on("click",function(e) {


  }); // $(document).ready(function() {

</script>